<div class="popUp_Window finish_webinar" data-bind="with: $root.eventModel()">
	<div class="text_field_cent">
		<div class="popup_notification_block">
			<div class="popup_icon_block float_left webinar_leave_icon"></div>
			<div class="popup_text_notification">{{webinarWillBeCompleted}}
			</div>
		</div>
		<div class="buttons_container">
			<div class="float_left button_text_container">
				{{areYouSure}}
			</div>
			<div class="float_right">
				<button type="button" class="icon_btn btns_red modal_button_cancel">
					<span class="inside_image delete_btn"></span>
				</button>
				<button type="button" class="icon_btn btns_green modal_button_ok" data-bind="click: $data.doFinishConfirm">
					<span class="inside_image success_file"></span>
				</button>
			</div>
		</div>
	</div>
</div>