<div class="popUp_Window delete_collegue" data-bind="with: $root.currentUser().removalUser">
	<div class="text_field_cent">
		<div class="popup_notification_block">
			<div class="popup_icon_block float_left warning_sign_icon"></div>
			<div class="popup_text_notification">{{youWantRemoveColleaguesQuestion}}
			</div>
		</div>
		<div class="buttons_container">
			<div class="float_left button_text_container">
				{{continueQuestion}}
			</div>
			<div class="float_right">
				<button type="button" class="icon_btn btns_red modal_button_cancel">
					<span class="inside_image delete_btn"></span>
				</button>
				<button type="button" class="icon_btn btns_green modal_button_ok" data-bind="click: unsubscribe">
					<span class="inside_image success_file"></span>
				</button>
			</div>
		</div>
	</div>
</div>