<div class="popUp_Window webinar_over">
	<div class="text_field_cent">
		<div class="popup_notification_block">
			<div class="popup_icon_block float_left webinar_leave_icon"></div>
			<div class="popup_text_notification">{{webinarCompleted}}</div>
			<div class="popup_text_notification">{{materialsWillBeAvailableOnWebinars}}</div>
		</div>
		<div class="buttons_container">
			<div class="float_left button_text_container">
				{{goTo}}
			</div>
			<div class="float_right">
				<button type="button" class="btn btns_blue fix_med_btn">{{calendar}}</button>
				<button type="button" class="btn btns_blue fix_med_btn">{{toPageWebinar}}</button>
			</div>
		</div>
	</div>
</div>